*{
    margin: 0;
    padding: 0;
}
ul{
    list-style-type: none;
}
/* menu bar seth */
.menu-bar {
    width: 100%;
    overflow: hidden;
    background-color: #666666;
    padding: 20px;
}

.menu-bar .menu{
    width: 70%;
    margin: auto;
   
}

.menu .icon-menu{
    width: 50%;
    float: left;
}

.menu .icon-menu ul li{
    float: left;
}

.menu .icon-menu ul li a{
    font-size: 20px;
    color: #fff;
    padding: 0 10px;
}

.menu .txt-menu{
    width: 50%;
    float: left;
}


.menu .txt-menu ul li{
    float: right;
}

.menu .txt-menu ul li a{
    display: block;
    text-decoration: none;
    font-size: 18px;
    color: #fff;
    padding: 0 10px;
}
/* body rithy */


/* footer san */
.container{
    max-width: 1170px;
    margin: auto;
}
.container .row{
    display: flex;
    flex-wrap: wrap;
}
footer{
    background-color:#666666; 
    padding: 70px 0;
}
.footer-col{
    width: 20%;
    padding: 0 10px;
}
.footer-col ul li a{
    font-size: 18px;
    text-decoration: none;
    color: white;
}
.footer-col h4{
    font-size: 18px;
    color: #fff;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
}
.footer-col h4::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: whitesmoke;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}
.footer-col ul li a{
    margin-bottom: 10px;
}
.footer-col ul li a{
    font-size: 16px;
    text-transform: capitalize;
    color: white;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;
}
.footer-col ul li a:hover{
    color: white;
    padding-left: 10px;
}
.footer-col .social-links a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: white;
    transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
    color: #24262b;
    background-color: white; 
}