*{
    margin: 0;
    padding: 0;
}
ul{
    list-style-type: none;
}
/* menu bar seth */
.menu-bar {
    width: 100%;
    overflow: hidden;
    background-color: #e74c3c;
    padding: 5px;
}

.menu-bar .menu{
    width: 70%;
    margin: auto;
   
}

.menu .icon-menu{
    width: 50%;
    float: left;
}

.menu .icon-menu ul li{
    float: right;
}

.menu .icon-menu ul li a{
    font-size: 20px;
    color: #fff;
    padding: 0 10px;
}

.menu .txt-menu{
    width: 50%;
    float: left;
}


.menu .txt-menu ul li{
    float: left;
}

.menu .txt-menu ul li a{
    display: block;
    text-decoration: none;
    font-size: 18px;
    color: #fff;
    padding: 0 10px;
}

/* body rithy */
.section-p1{
    padding: 40px 80px;
}
#feature .fe-box{
    width: 150px;
    text-align: center;
    padding: 25px 0;
    box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.03);
    border: 1px solid #cce7d0;
    border-radius: 4px;
    margin: 15px 0;
}
#feature{
    display: flex;
    text-align: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
#feature .fe-box a{
    text-decoration: none;
}
#feature .fe-box h6{
    text-decoration: none;
    font-size: 15px;
    font-family: 'Noto Sans Khmer', sans-serif;
    color: black;
}
#feature .fe-box:hover{
    box-shadow: 10px 10px 54px rgba(70, 62, 221, 0.1);
}
#feature .fe-box img{
    width: 100px;
}


/* footer san */
.container{
    max-width: 1170px;
    /* width: 70%; */
    margin: auto;
}
.container .row{
    display: flex;
    flex-wrap: wrap;
}
footer{
    background-color:#e74c3c; 
    padding: 70px 0;
}
.footer-col{
    width: 20%;
    padding: 0 10px;
}
.footer-col ul li a{
    font-size: 18px;
    text-decoration: none;
    color: white;
}
.footer-col h4{
    font-size: 18px;
    color: #fff;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
}
.footer-col h4::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: whitesmoke;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}
.footer-col ul li a{
    margin-bottom: 10px;
}
.footer-col ul li a{
    font-size: 16px;
    text-transform: capitalize;
    color: white;
    font-weight: 300;
    color: white;
    display: block;
    transition: all 0.3s ease;
}
.footer-col ul li a:hover{
    color: white;
    padding-left: 10px;
}
.footer-col .social-links a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: white;
    transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
    color: #24262b;
    background-color: white; 
}